<!DOCTYPE html>
<html>
<head>
    <title>About Us - MedTrack</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
<div class="container">
    <h2>About MedTrack</h2>
    <p>MedTrack is a cloud-powered healthcare platform designed to simplify and streamline the connection between patients and doctors. Our mission is to make healthcare more accessible, organized, and patient-friendly by offering a secure and intuitive system for managing appointments and interactions.
     We believe that timely medical care is crucial, and our platform ensures seamless communication between patients and doctors.
     From booking appointments to viewing doctor availability and tracking visit history, everything is just a tap away.</p>
    <a href="/" class="button">Home</a>
</div>
</body>
</html>
