<!DOCTYPE html>
<html>
<head>
    <title>Doctor Appointments Summary</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <h2>Appointment Summary for Doctor</h2>

        <div style="display: flex; flex-wrap: wrap; justify-content: center; gap: 20px; margin-top: 30px;">
            <div style="background-color: #004080; color: white; padding: 20px; border-radius: 10px; width: 200px; text-align: center;">
                <h3>{{ total }}</h3>
                <p>Total Appointments</p>
            </div>

            <div style="background-color: #006600; color: white; padding: 20px; border-radius: 10px; width: 200px; text-align: center;">
                <h3>{{ completed }}</h3>
                <p>Completed Appointments</p>
            </div>
            <h3 style="margin-top: 40px;">Upcoming Appointments</h3>
            <table border="1" style="margin-top: 20px; width: 100%; text-align: center;">
                <tr>
                    <th>Patient</th>
                    <th>email</th>
                    <th>Phone_no</th>
                    <th>Date</th>
                    <th>Time</th>
                    <th>Reason</th>
                    <th>Action</th>
                </tr>
                {% for appt in appointments %}
                <tr>
                    <td>{{ appt[0] }}</td>
                    <td>{{ appt[1] }}</td>
                    <td>{{ appt[2] }}</td>
                    <td>{{ appt[3] }}</td>
                    <td>{{ appt[4] }}</td>
                    <td>{{ appt[5] }}</td>
                    <td><a href="{{ url_for('solve_appointment', appointment_id=appt[6]) }}" class="button">View & Solve</a></td>
                </tr>
                {% endfor %}
            </table>
        </div>

        <br><br>
        <a href="/doctor_dashboard" class="button">Back to Dashboard</a>
    </div>
</body>
</html>