<!DOCTYPE html>
<html>
<head>
     <title>MedTrack - Home</title>
     <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
<div class="container">
    <h2> Welcome to MedTrack...🩺 </h2>
    <div class="button-group">
        <a href="/login" class="button">Login</a><br>
        <a href="/signup" class="button">Signup</a><br> 
        <a href="/aboutus" class="button">About Us</a><br> 
        <a href="/contactus" class="button">Contact Us</a><br>
    </div>
</div>
</body>
</html>